<h1>Restaurants#index</h1>

<%if @restaurants.count == 0%>
No restaurants
<%end%>

<% @restaurants.each do |r|%>
<%= r.name %>
<%= link_to 'edit', edit_restaurant_path(r)%><br>
<%end%>


<a href="restaurants/new">Add a restaurant</a>